{%extends "LoginBundle:Default:index.html.twig" %}
{% block stylesheets %}
                        <link rel="stylesheet" href="{{ asset('bundles/login/css/bootstrap.min.css') }}">
                        <link rel="stylesheet" href="{{ asset('bundles/login/css/font-awesome.min.css') }}">
                        <link rel="stylesheet" href="{{ asset('bundles/login/css/welcome.css') }}">
{#                        <link rel="stylesheet" href="{{ asset('bundles/login/css/parsley/parsley.css') }}">#}
{% endblock %}

{% block container %}
       
<nav class="navbar navbar-inverse container" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Image Gallary</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi... Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li align="center" class="well">
                <div><img class="img-responsive" style="padding:2%;" src="{{asset('bundles/login/images/photo.jpg') }}"/><a class="change" href="">Change Picture</a></div>
                <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Security</a>
                <a href="{{ path('login_logout') }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
           </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
	<div class="row well">
		<div class="col-md-2">
    	    <ul class="nav nav-pills nav-stacked well">
{#              <li  class="active"><a href="#"><i class="fa fa-envelope"></i> Compose</a></li>#}
              <li><a href="{{ path('login_homepage') }}"><i class="fa fa-home"></i> Home</a></li>
              <li class="active"><a href="{{ path('login_gallary') }}"><i class="fa fa-key"></i> Gallary</a></li>
              <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
              <li><a href="{{ path('login_upload') }}"><i class="fa fa-key"></i> Upload</a></li>
              <li><a href="{{ path('login_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="{{asset('bundles/login/images/photo.jpg') }}" alt="...">
                    <div class="name"><small>Admin</small></div>
                    <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>
                </div>
                
    <br><br><br>
    
                        {# Gallary code form here. #}
                        <div class="panel" style="background-image: none">
                                This is image gallary.
                        </div>
                        {# end of gallary div #}

                </div>
        </div>    
</div>




<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><br/><br/>
            <form class="form-horizontal">
            <fieldset>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="body">Body :</label>  
              <div class="col-md-8">
              <input id="body" name="body" type="text" placeholder="Message Body" class="form-control input-md">
                
              </div>
            </div>
            
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="message">Message :</label>
              <div class="col-md-8">                     
                <textarea class="form-control" id="message" name="message"></textarea>
              </div>
            </div>
            
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="send"></label>
              <div class="col-md-8">
                <button id="send" name="send" class="btn btn-primary">Send</button>
              </div>
            </div>
            
            </fieldset>
            </form>

    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/login/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/login/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript">
                $(function () {
                        $('#myTab a:last').tab('show');
                });
        </script>
{% endblock %}
