<!DOCTYPE html>
<html>
        <head>

                {% block stylesheets %}
                        <link rel="stylesheet" href="{{ asset('bundles/login/css/bootstrap.min.css') }}">
                        <link rel="stylesheet" href="{{ asset('bundles/login/css/font-awesome.min.css') }}">
{#                        <link rel="stylesheet" href="{{ asset('bundles/login/css/welcome.css') }}">#}
{#                        <link rel="stylesheet" href="{{ asset('bundles/login/css/parsley/parsley.css') }}">#}
                {% endblock %}

        </head>
        <body>

                {% block container %}

                {% endblock %}

                {% block javascripts %}
                        <script type="text/javascript" src="{{ asset('bundles/login/js/jquery.min.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('bundles/login/js/bootstrap.min.js') }}"></script>
{#                        <script type="text/javascript" src="{{ asset('bundles/login/js/parsley/parsley.min.js') }}"></script>#}
{#                        <script type="text/javascript" src="{{ asset('bundles/login/js/parsley/parsley.js') }}"></script>#}
                        {#<script type="text/javascript">
                                $('#loginbox').parsley();
                        </script>#}
                {% endblock %}

        </body>    
</html>
