{%extends "LoginBundle:Default:index.html.twig" %}

{% block container %}
<div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-info" >
                        <div class="panel-heading">
                                <div class="panel-title">Sign In</div>
                                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                        </div>     

                        <div style="padding-top:30px" class="panel-body" >

                                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                                <form id="loginform" class="form-horizontal" role="form" method="POST" action="{{ path('login_loginpage') }}" >

                                        <div style="margin-bottom: 25px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="login-username" type="text" class="form-control"  value="" placeholder="username" name="username" required="true" >                                        
                                        </div>

                                        <div style="margin-bottom: 25px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input id="login-password" type="password" class="form-control" placeholder="password" name="password" required="true">
                                        </div>

                                        <div class="input-group">
                                                <div class="checkbox">
                                                        <label>
                                                                <input id="login-remember" type="checkbox" name="remember" value="rem_me"> Remember me
                                                        </label>
                                                </div>
                                        </div>

                                        <div style="margin-top:10px" class="form-group">
                                                <!-- Button -->

                                                <div class="col-sm-12 controls">
                                                        <button id="btn-login" class="btn btn-success" type="submit">
                                                                 <i class="glyphicon glyphicon-log-in" ></i> &nbsp Login</button>
{#                                                        <a id="btn-login" href="#" class="btn btn-success" onclick="document.getElementById('loginform').submit();">Login  </a>#}
{#                                      <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>#}

                                                </div>
                                        </div>

                                        <div class="form-group">
                                                <div class="col-md-12 control">
                                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                                                Don't have an account! 
                                                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                                                        Sign Up Here
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>    
                                </form>     
                        </div>                     
                </div>  
        </div>
        
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" >
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form" method="POST" action="{{ path('login_signup') }}">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                {#<div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                </div>#}
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                            <input type="text" class="form-control" name="firstname" placeholder="First Name" required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                            <input type="text" class="form-control" name="lastname" placeholder="Last Name" required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-md-3 control-label">User Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="username" placeholder="User name" required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password" required="true">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" class="btn btn-info" type="submit">
                                                <i class="glyphicon glyphicon-log-out" ></i> &nbsp Sign Up</button>
                                    </div>
                                </div>
                            </form>
                         </div>
                    </div>
         </div> 
</div>

        {% if error is defined %}
<div class="alert-info fade in">
        <strong> {{error}}</strong>
</div>
        {% endif %}

{% endblock %}